:root {
    --backgroud-white: #fff;
    --the-red: #E74C3C;
    --leaf-green: #27AE60;
    --brownbrown: #5D4037;
    --goldgold: #DAA520;
}


.bemvindo-h1 {
    font-weight: normal;
    text-shadow: 1px 1px #8e8e8e;
    margin-right: 20px;

}

.carousel-item img {
  height: 800px;          
  object-fit: cover; 
}