<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Take Out!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Cadastrar</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1>Bem-vindo ao TakeOut!</h1>
    <p>O melhor restaurante Take Out do Brasil!</p>
    <p>Acesse o sistema para comprar sua refeição</p>
    <a href="#!login" class="btn btn-primary">ENTRAR</a>
</div>