<link href="/app/views/static/css/home.css" rel="stylesheet" />

<ng-include src="'views/templates/navbar.html'"></ng-include>

<h1 class="bemvindo-h1 ms-5">Bem vindo ao TakeOut!</h1>

<div class="container mt-5">

    <!-- BACKEND - Lista de Ofertas a ser carregada -->
    <div class="row d-flex justify-content-around">

        <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="/app/views/static/imgs/pizza-template.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Desconto de 80% em pizzas!</h5>
                <p class="card-text">
                  Adicionar ao carrinho?
                </p>
                <a href="#" class="btn btn-primary">Adicionar</a>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="/app/views/static/imgs/pizza-template.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Desconto de 80% em pizzas!</h5>
                <p class="card-text">
                  Adicionar ao carrinho?
                </p>
                <a href="#" class="btn btn-primary">Adicionar</a>
              </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="/app/views/static/imgs/pizza-template.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Desconto de 80% em pizzas!</h5>
                <p class="card-text">
                  Adicionar ao carrinho?
                </p>
                <a href="#" class="btn btn-primary">Adicionar</a>
              </div>
            </div>
        </div>

        <!-- Pode adicionar mais cards aqui seguindo o mesmo padrão -->

    </div>

</div>
