<link href="/views/static/css/loginRegister.css" rel="stylesheet" />

<div class="form-container" ng-controller="LoginController">
  <p class="form-title display-4">Entrar na Conta</p>
  <div class="input-wrap">
    <h4 class="input-label">Email</h4>
    <input type="email" class="input-field" ng-model="user.email" required />
  </div>
  <div class="input-wrap">
    <h4 class="input-label">Senha</h4>
    <input type="password" class="input-field" ng-model="user.senha" required />
  </div>
  <div class="input-wrap">
    <p class="input-link">
      <a href="#!register"> Não possui cadastro? Cadastre aqui! </a>
    </p>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-success" ng-click="login()">Entrar</button>
    <a href="#!home" class="btn btn-danger">Voltar</a>
  </div>
  <p ng-if="message" class="text-danger mt-3">{{ message }}</p>
</div>