<!-- Stylesheet-->
<link href="/app/views/static/css/loginRegister.css" rel="stylesheet" />

<!--BACKEND - LOGIN-->
<div class="form-container" ng-controller="AuthController">
  <h3 class="form-title">Entrar na Conta</h3>
  <div class="input-wrap">
    <label class="input-label">Email</label>
    <input type="text" class="input-field" required />
  </div>
  <div class="input-wrap">
    <label class="input-label">Senha</label>
    <input type="text" class="input-field" required />
  </div>
  <div class="input-wrap">
    <p class="input-link">
      <a href="#!register"> Não possui cadastro? Cadastre aqui! </a>
    </p>
  </div>
  <div class="actions">
    <a href="#" class="btn btn-success">Entrar</a>
    <a href="#!home" class="btn btn-danger">Voltar</a>
  </div>
</div>
