<link href="/views/static/css/loginRegister.css" rel="stylesheet" />

<div class="form-container" ng-controller="RegisterController">
  <p class="form-title display-4">Registrar Conta</p>
  <div class="input-wrap">
    <h4 class="input-label">Nome</h4>
    <input type="text" class="input-field" ng-model="newUser.nome" required />
  </div>
  <div class="input-wrap">
    <h4 class="input-label">Email</h4>
    <input type="email" class="input-field" ng-model="newUser.email" required />
  </div>
  <div class="input-wrap">
    <h4 class="input-label">Senha</h4>
    <input type="password" class="input-field" ng-model="newUser.senha" required />
  </div>
  <div class="input-wrap">
    <h4 class="input-label">Repetir Senha</h4>
    <input type="password" class="input-field" ng-model="newUser.confirmarSenha" required />
  </div>
  <div class="input-wrap">
    <p class="input-link">
      <a href="#!login"> Ja possui cadastro? Entre aqui! </a>
    </p>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-success" ng-click="register()">Registrar</button>
    <a href="#!home" class="btn btn-danger">Voltar</a>
  </div>
  <p ng-if="message" class="mt-3" ng-class="{'text-success': isSuccess, 'text-danger': !isSuccess}">{{ message }}</p>
</div>