<!-- Stylesheet-->
<link href="/app/views/static/css/loginRegister.css" rel="stylesheet" />

<div class="form-container">
  <h3 class="form-title">Registrar Conta</h3>
  <div class="input-wrap">
    <label class="input-label">Nome</label>
    <input type="text" class="input-field" required />
  </div>
  <div class="input-wrap">
    <label class="input-label">Email</label>
    <input type="text" class="input-field" required />
  </div>
  <div class="input-wrap">
    <label class="input-label">Senha</label>
    <input type="text" class="input-field" required />
  </div>
  <div class="input-wrap">
    <label class="input-label">Repetir Senha</label>
    <input type="text" class="input-field" required />
  </div>
  <div class="actions">
    <a href="#" class="btn btn-success">Registrar</a>
    <a href="#!home" class="btn btn-danger">Voltar</a>
  </div>
</div>
